datasets==3.3.2
demoji==1.1.0
dotenv==0.9.9
fastapi==0.115.11
fastapi-cli==0.0.7
npm==0.1.1
openai==1.52.2
packaging==24.0
pandas==2.2.3
regex==2024.11.6
requests==2.32.3
transformers==4.46.3
uvicorn==0.34.0